
.BioPageContainer{
    width: 95%;
    margin: 25px auto auto auto;
}

.BioContainer{
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
    align-items: center;
}

.ImgBioContainer{    
        
    text-align: center;
    justify-content: flex-start;   
    flex-basis: 60%;    
    align-items: center;
}

.ImgBioContainer img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.BioTextContainer{
    
    flex-basis: 30%;
    margin: 20px 0 20px 0;
    text-align: center;   
    border-left: solid 2px rgb(59, 59, 59);

    font-family: 'Quicksand', sans-serif !important;
    color: #616161;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    margin-bottom: 0;
    font-size: 1em;
    padding: 5px 10px;
}

.BioTextContainer p,li{

    letter-spacing: 0.15rem;
    text-align: left;
    margin-left: 10%;   
}

.BioTextContainer li{
    padding-bottom: 5px;   
    padding-top: 5px; 
    margin-left: 5%;
}

.BioTextContainer h1{

    font-variant: petite-caps;
    font-weight: bold;    
}

.CurriculumContainer{
    margin-top: 50px; 
    margin-bottom: 50px;
}

.CurriculumTextContainer{
    text-align: inherit;    
}

@media only screen and (max-width: 900px) {   
   
    .BioContainer{       
        flex-direction: column;        
    }

    .ImgBioContainer{    
        
        text-align: center;
        justify-content: flex-start;       
        flex-basis: 100%;    
        align-items: center;
    }

    .BioTextContainer{
    
        flex-basis: 100%;       
        margin: 15px 20px 15px 20px;
        border-top: solid 2px rgb(59, 59, 59);
        border-left: none;
    }

    .BioTextContainer p{
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 650px) {   
    
    .BioTextContainer p,li{        
        margin-left: 5%;
        margin-right: 5%;
    }
    
}

@media only screen and (max-width: 400px) {   

    #nombreNav {     
        font-size: 1.1em;
        margin-left: 10px;        
        margin-right: auto;
    }

    .BioTextContainer{
        margin: 5px ;
        padding: inherit;
    }

    .BioTextContainer p{

        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 0.9em;
    }

    .BioTextContainer li{      
        margin-left: 2%;
        margin-right: 2%;
        font-size: 0.9em;
    }
}
