
.catalogoContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:  wrap;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0; 
    width: 90%;
}

@media only screen and (max-width: 600px) {   
    .catalogoContainer{   
        justify-content: center;   
        margin-left: auto;   
        margin-right: auto;  
    }
}

@media only screen and (min-width: 1500px) {   
    .catalogoContainer{      
        width: 60%;
    }
}