.ContactContainer {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Quicksand', sans-serif !important;
    color: #616161;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    margin-bottom: 0;
    font-size: 1em;
    padding: 5px 10px;
}

.ContactElement{
    display: flex;
    flex-direction: row;
    height: 75px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 40%;
}

.ContactElement h1{
    font-size: 100%;
    align-self: center;
    margin-right: auto;     
}

@media only screen and (max-width: 1000px)
{
    .ContactContainer {
        width: 95%;
    }
}

@media only screen and (max-width: 800px) {   

    .ContactContainer {        
        width: 95%;       
    }

    .ContactElement{      
        margin-left: 5%;
        margin-right: 5%;
        width: 80%;
    }

    .ContactElement h1{
        font-size: 75%;
        align-self: center;
        margin-right: auto;       
    }

    .ContactElement img{
        margin-left: auto;   
        size: 50%; 
    }
}

@media only screen and (max-width: 400px) {   

    .ContactContainer {
        margin-top: 30px;
    }

    .ContactElement{
        margin-left: 5%;
        margin-right: 5%;
        width: 95%;
        height: inherit;
    }

    .ContactElement img{
        
        margin-left: 2%;   
        width: 15%;
        height: auto;
    }

    .ContactElement h1{      
        margin-right: auto;       
        margin-left: 10px;
    }
}

