
.EsculturaContainer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#buttonBack{
    position: fixed;    
    width: 50px;
    margin: 10px;
    transition:  0.25s ease;  
    z-index:10;  
}

.fixedToTop #buttonBack{
    top: 0;
    margin: 20px;
}

#buttonBack:hover{
    opacity: 0.25;
}

.EsculturaInfo
{
    display: flex;   
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.EsculturaDescription{
    flex-basis: 45%;
    color:dimgray;      
    margin: 20px auto auto auto;
}

.EsculturaInfo .esculturaContainer {         
    flex-basis: 50%;            
    cursor: not-allowed;
    pointer-events: none !important;
}

.EsculturaDescription h1{
    color:#353535;
    text-align: center;
    font-family: sans-serif;
}

.TextoDescripcion{
    margin: 10px 25px 10px 25px;   
}

#Descripcion{    
    color:grey;
}

#Medidas{
    color: #1d1d1d;    
    font-weight: 500;
}

.disabled {
    pointer-events: none;   
  }

@media only screen and (min-width: 1500px) {   
    
    .EsculturaContainer{
        width: 60%;       
    }              
}

@media only screen and (max-width: 850px) {   

    .EsculturaContainer{
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {   
      
    .EsculturaInfo
    {               
        flex-direction: column;
        margin-bottom: 50px;
    }
    
    .EsculturaDescription{                 
        margin: inherit;   
    }
   
    #Descripcion{
        margin-top:  10%;
        color:grey;
    }

}

