.EsculturaInfo
{
    display: flex;   
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.EsculturaDescription{
    flex-basis: 45%;
    color:dimgray;      
    margin: auto;
}

.EsculturaInfo .esculturaContainer {         
    flex-basis: 50%;            
    cursor: not-allowed;
    pointer-events: none !important;
}


.TextoDescripcion{
    margin: 10px 25px 10px 25px;
    text-align: center;
}

#Descripcion{    
    color:grey;
}

#Medidas{
    color:dimgray;    
}

.disabled {
    pointer-events: none;   
  }

@media only screen and (min-width: 1500px) {   
    .EsculturaInfo
    {
       width: 70%;
       margin-left: auto;
       margin-right: auto;
    }
    
    .galleryEsculturaContainer{
        
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
   

@media only screen and (max-width: 600px) {   
    .EsculturaInfo
    {               
        flex-direction: column;
        margin-bottom: 50px;
    }
    
    .EsculturaDescription{        
        color: aliceblue;       
        margin : 15px 10% 15px 10%;     
    }
   
    #Descripcion{
        margin-top:  10%;
        color:grey;
    }

}

