
.lettersLogoContainer h1{
    color: black;      
    font-family: 'Roboto', sans-serif;
}

.Titulo{
    margin: 15px auto 15px auto;  
    font-size: 1.5rem;  
    border-bottom: solid 1px rgb(60, 60, 60);
    padding-bottom: 5px;
}

.letrasHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.header{
    background-color: rgba(228, 228, 228, 0.61);
    margin: 0;
    padding: 0;   
    display: flex;  
    align-items: baseline;
    align-content: center;      
}

.centerItems {
    display: flex;
    margin: auto;
    width: 60%;
    padding: 10px;     
}

.logo {
    align-self: center;    
}

.logo img
{
    min-width: 40px;  /* Or whatever */    
    max-width: 75px;      
}

.lettersLogoContainer{    
   display: flex;
}

.lettersLink{
    text-decoration: none;   
    padding-left: 0px; 
}

.navs{
    margin:auto;
    margin-left :0px; 
    padding: 10px;
    /* padding-bottom: 10px; */
}
 
.navs a{

    font-family: 'Quicksand', sans-serif !important;
    color:#616161;
    font-weight: 400;
    letter-spacing: 1px;       
    text-decoration: none;    
    margin-bottom: 0;
    font-size: 1em;
    padding: 5px 10px;
    transition: color 0.5s ease;
}

.navs a:hover{
    color: black;
    border-bottom: 2px solid currentColor;           
    transition: color 0.5s ease;
}

.socialNavIcons a{
    margin: 0 -5px;    
    width: 50px;
    padding: 0px;
}

.socialNavIcons a:last-child{
    margin-right: 5px;
    width: 50px;
    padding: 0px;
}

.socialNavIcons{
    margin-left: auto;
    align-self: center;
}

.logoInstaHeader{
    margin-left: auto;
    width: 40px;
    color: red;
}

@media only screen and (max-width: 1250px) {
    .letterLogo {
      font-size: 35px;         
    }

    .header{                     
        
        width: 100%;             
        align-items: center;             
    }

    .navs{
       padding: 5px; 
       padding-bottom: 0px;     
    }

    .logo img
    {
        width: 50px;
        min-width: 50px;
        max-width: 60px;      
    }   

    .centerItems{
        display: flex;
        margin: 10px;
        width: 95%;  
        margin-right: auto;            
    }

    .logoInstaHeader{
        margin-left: auto;
        width: 25px;       
    }
  }

  @media only screen and (max-width: 600px) {   

    .logo{
        display: none;
    }
    .centerItems{
        display: flex;       
        width: 95%;          
        align-items: center;     
        padding: 0;
        margin: 5px auto 5px auto;          
    }

    .logoInstaHeader{
        margin-left: auto;
        width: 40px;      
    }

    .letrasHeader{
        display: none;       
    }

    #nombreNav{
        font-family: 'Quicksand', sans-serif !important;
        color:#616161;
        font-weight: 400;
        letter-spacing: 2px;       
        text-decoration: none;           
        font-size: 1.5em;      
        transition: color 0.5s ease;  
        margin-left: auto;
        margin-right: auto;      
    }
  }