.HomeContainer{
    position: relative;
}

.HomeContainer .contentHome{
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */    ;
    padding: 20px; /* Some padding */
    padding-bottom:0;
}

.HomeContainer img{
    width: 100%;
}

#myVideo{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 800px) {   
    .HomeContainer .contentHome{
        height: 70px;
        font-size: smaller;
        padding: 5px;
    }

    .contentHome h1{                    
        font-size: small;                
    }
    .contentHome p{   
        font-size: small;                
    }
}

@media only screen and (max-width: 550px) {   
    .HomeContainer .contentHome{
        height: 50px;      
        padding: 5px;
    }

    .contentHome h1{                    
        font-size: smaller;                
    }
    .contentHome p{   
        font-size: smaller;                
    }
}
